.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 0 1 20vw;
  height: 100%;
  padding: 0.5rem 1.5rem 1.5rem 1rem;
  &>h4 {
    margin-bottom: 0.5rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logs {
  width: 100%;
  height: 50%;
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
}

.browser {
  height: 100%;
  /* border: 1px dashed blue; */
  flex: 1;
}

.browserNav {
  display: flex;
  margin-bottom: 0.5rem;
}

.description {
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

// @media (prefers-color-scheme: dark) {
  // .logo {
    // filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
//   }
// }

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.miscDebug {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
