(common) {
  log {
    output stdout
    level DEBUG
  }
  header -Server
}

(errors-common) {
  header -Server
}

:8001 {
  import common

 handle_path /api* {
   reverse_proxy sources_api.sources:8082
 }
 handle_path /* {
   reverse_proxy sources_ui.sources:3000
 }

  handle_errors {
    import errors-common
  }	
}
