version: '3'

networks:
  beaker:

services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    environment:
      - DEBUG=1
      - LOGLEVEL=INFO
      - JUPYTER_SERVER=http://jupyter:8888
      - JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
      - PYTHONPATH=/jupyter
      - ENABLE_CHECKPOINTS=true
      - TOOL_ENABLED_ASK_USER=true
      - TOOL_ENABLED_RUN_CODE=true
      - PYTHONBREAKPOINT=debugpy.breakpoint
      - BIOME_LIT_REVIEW_DIR=/jupyter/_literature_review
      - INTEGRATION_PATH=/jupyter/adhoc_data  
    env_file:
      - .env        
    volumes:
      - ./src/biome:/jupyter/src/biome
      - ./adhoc_data:/jupyter/adhoc_data
    networks:
      - beaker
  rest_api:
    build:
      context: .
      dockerfile: ./rest_api/Dockerfile
    volumes:
      - ./adhoc_data:/jupyter/integrations
    env_file:
      - .env
    ports:
      - "8001:8001"
    environment:
      - BIOME_INTEGRATIONS_DIR=/integrations
      - BIOME_DATA_DIR=/data
    networks:
      - beaker
  # ui:
  #   image: node:20
  #   user: "node"
  #   volumes:
  #     - ./src:/ui
  #   working_dir: "/ui"
  #   ports:
  #     - "8080:8080"
  #   command: "sh -c 'npm install && npm run serve'"
  #   networks:
  #     - beaker
