version: '3'

networks:
  beaker:

services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    environment:
      - DEBUG=1
      - LOGLEVEL=INFO
      - JUPYTER_SERVER=http://jupyter:8888
      - JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
      - PYTHONPATH=/jupyter
      - ENABLE_CHECKPOINTS=true
      - TOOL_ENABLED_ASK_USER=true
      - TOOL_ENABLED_RUN_CODE=false
      - PYTHONBREAKPOINT=debugpy.breakpoint
    env_file:
      - .env
    volumes:
      - ./src/biome:/jupyter/src/biome
      - .env:/jupyter/.env
      - .beaker.conf:/jupyter/.beaker.conf
    # command: "sh -c 'beaker dev watch --ip 0.0.0.0 '"
    networks:
      - beaker
  # ui:
  #   image: node:20
  #   user: "node"
  #   volumes:
  #     - ./src:/ui
  #   working_dir: "/ui"
  #   ports:
  #     - "8080:8080"
  #   command: "sh -c 'npm install && npm run serve'"
  #   networks:
  #     - beaker