# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=


# rest api -- defaults shown for local install and docker-compose paths.
# docker-compose will handle this by default if unset.

# server -- will be set with docker-compose if nothing is set
# BIOME_DATA_DIR=./data
# BIOME_INTEGRATIONS_DIR=/datasources

# local -- uncomment the below two lines if not running in docker
# BIOME_DATA_DIR=./data
# BIOME_INTEGRATIONS_DIR=/src/biome/datasources


LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=


# Server Mode LLM Selection Options
LLM_PROVIDER_IMPORT_PATH=archytas.models.openai.OpenAIModel
LLM_SERVICE_MODEL=gpt-4.1
LLM_SERVICE_TOKEN=${OPENAI_API_KEY}

# LLM for PaperQA2
PAPERQA_LLM_MODEL="gpt-4.1-mini"

#
# API Keys for specific (optional) integrations
## EPA Air Quality System API credentialsa (email, key)
API_EPA_AQS_EMAIL=
API_EPA_AQS=
## FDA openFDA API credentials, which includes access to FAERS, and other data (key)
API_OPENFDA=
## USDA FoodData Central API credentials (key)
API_USDA_FDC=
## Census API credentials (key)
API_CENSUS=
## CDC Tracking Network API credentials (key)
API_CDC_TRACKING_NETWORK=
## Synapse API credentials (http bearer token), for use in nf.synapse.org and other *.synapse.org portals
API_SYNAPSE=
## Netrias API credentials (key)
NETRIAS_KEY=

# [OPTIONAL API KEYS] for literature review
# Entrez
ENTREZ_API_KEY=
ENTREZ_EMAIL=
SEMANTIC_SCHOLAR_API_KEY=
#
# Deployment Specific
# -- only change below this line if you have special requirements for environment!
#

# Jupyter
JUPYTER_SERVER=http://jupyter:8888
JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
PYTHONPATH=/jupyter
ENABLE_CHECKPOINTS=true
TOOL_ENABLED_ASK_USER=true
TOOL_ENABLED_RUN_CODE=true
SEND_KERNEL_STATE=false