# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=

#
# Deployment Specific 
# -- only change below this line if you have special requirements for environment!
#

# Jupyter
JUPYTER_SERVER=http://jupyter:8888
JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
PYTHONPATH=/jupyter
ENABLE_CHECKPOINTS=true
TOOL_ENABLED_ASK_USER=true
TOOL_ENABLED_RUN_CODE=true

# Elasticsearch
ES_HOST="biome_es.biome"
ES_PORT=9200
STACK_VERSION=8.13.0
CLUSTER_NAME=biome-es-cluster
# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824  # 1GB
KB_MEM_LIMIT=1073741824  # 1GB
LICENSE=basic
KIBANA_PORT=5601
