# API Keys
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=

# API Keys for specific integrations
# -- Prefixed by API_ but used without this prefix in the API spec
# -- Mostly used for authentication
# EPA Air Quality System API credentials (optional integration)
API_EPA_AQS_EMAIL=
API_EPA_AQS=

#
# Deployment Specific 
# -- only change below this line if you have special requirements for environment!
#

# Jupyter
JUPYTER_SERVER=http://jupyter:8888
JUPYTER_TOKEN=89f73481102c46c0bc13b2998f9a4fce
PYTHONPATH=/jupyter
ENABLE_CHECKPOINTS=true
TOOL_ENABLED_ASK_USER=true
TOOL_ENABLED_RUN_CODE=true