
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.25rem 0 0 0.25rem;
  /* border: 1px solid yellow; */
  height: 100%;

  nav {
    margin-bottom: 1rem;
  }
}

.backLink {
  // color: var(--primary-400);
  // text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.description {
  width: 25%;
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
}

.heading {
  font-weight: bold;
  margin-bottom: 1rem;
}

.taskPre {
  color: var(--text-color-secondary);
  letter-spacing: 0.15rem;
  opacity: 0.5;
}

.taskName {
  color: var(--text-color-secondary);
  opacity: 0.95;
  font-size: 1.9rem;
}

.steps {
  color: var(--text-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 675px;

  &>h2 {
    margin-bottom: 1rem;
    opacity: 0.95;
    color: var(--text-color-secondary);
  }
}

.stepList {
  position: relative;
  flex: 1;

  &>div {
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.stepsHeaderRow {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 2fr 7fr 7fr;
  padding: 0 0.5rem;
  &>h4 {
    &:first-of-type {
      margin: auto;
    }
  }
}

.stepCard {
  box-shadow: none;
  border: 1px solid var(--surface-b);
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;

  &>[class~="p-card-body"] {
    padding: 1.25rem 1.75rem 0.5rem 1.25rem;
  }
}

.cardBody {
  display: grid;
  grid-template-columns: 2fr 7fr 7fr;
  margin-top: -1rem;
}

.cardCheckbox {
  margin-left: 0.5rem;
  height: 2.25rem;
  width: 2.25rem;
  align-self: center;

  &>[class~="p-checkbox-box"] {
    height: inherit;
    width: inherit;
  }
}

.cardDetails {
  &>h2 {
    margin-bottom: 0.25rem;
    opacity: 0.8;
    &>span {
      color: var(--text-color-secondary);
      letter-spacing: 0.15rem;
      opacity: 0.6;
    }
  }
  display: flex;
  flex-direction: column;
}

.cardScreenshot {
  h4 {
    color: var(--text-color-secondary);
    // opacity: 0.9;
    margin-bottom: 0.5rem;
  }
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  h4 {
    color: var(--text-color-secondary);
  }
}
