.urlBox {
  width: 20rem;
  font-size: 1.5rem;
  line-height: 2.5rem;

  &::placeholder {
    color: var(--gray-400);
  }
}

.dialogWrapper {
  &[class~="p-dialog"] {
    position: relative;
    border: none;

    &::before {
      top: 0;
      margin: auto;
      left: -0.25rem;
      height: calc(100% + 0.5rem);
      width: calc(100% + 0.5rem);
      border-radius: 5px;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: radial-gradient(circle at left top, var(--indigo-200), var(--cyan-400));
      z-index: -1;
      background-position: 0 100%;
      background-size: 100% 3px;
    }
  }

  &>[class~="p-dialog-content"] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

}

.addSourceButton {
  &[class~="p-button"] {
    background-image: radial-gradient(circle at left top, var(--blue-400), var(--blue-500), var(--indigo-400));
    background-position: 0 100%;
    background-size: 100% 3px;
    border: none;
    // text-transform: uppercase;
  }
}

.confirmSourceButton {
  &[class~="p-button"] {
    font-size: 1.25rem;
  }
}