.root {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;

  h4 {
    margin-bottom: 0.75rem;
  }
}

.listbox {
  min-width: 12rem;
  text-transform: capitalize;

  & [class~="p-listbox-list"] {
    & [class~="p-highlight"] {
      background-color: var(--primary-400);
    }
  }
}