.root {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;

  h4 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  min-height: 4rem;
  align-items: center;
  padding-top: 0.5rem;
}

.dataview {
  &>[class~="p-dataview-header"] {
    background: none;
    border: none;
  }

  &>[class~="p-dataview-content"] {
    background: none;
    overflow-y: hidden; // TODO
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -0.75rem;
  margin-top: 0.5rem
}

.grayTag {
  background: var(--gray-500);
}

.sourceName {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
}

.actionIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  color: var(--gray-500);
}

.category {
  background: var(--green-400);
  padding: 5px 7px;
  margin: 0.25rem 0.25rem;
}

.tag {
  background: var(--blue-400);
  padding: 5px 7px;
  margin: 0.25rem 0.25rem;
}

.squareCard {
  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    width: 50%;
    padding: 0.2rem;
  }

}

.cardContents {
  height: 22rem;
  cursor: pointer;
}

.sourceImage {
  height: 3.5rem;
  // width: 3.5rem; // Add a width to make the image a square
  object-fit: contain; // Make the image scale while maintaining its aspect ratio
  // background-color: var(--surface-100);
}

.availableUrls {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  // h4 {
  //   color: var(--text-color-secondary);
  // }

  // a {
  //   color: var(--)
  // }

}

.accessType {
  display: flex;
  width: 100%;
  color: var(--text-color-secondary);
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  transition: width 0.3s ease-in-out; // Add this line
}

.content.withDrawer {
  width: calc(100% - 400px); // Add this line
}


.drawer {
  position: fixed;
  top: 60px; // Adjust this line to the height of your header
  bottom: 0;
  right: 0;
  width: 400px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: white;
}

.drawer.open {
  transform: translateX(0); // Add this line
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  z-index: 10; // Add this line
}

.drawerDescription {
  font-size: 0.8em;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; // Add this line
  margin-top: 1rem;
}

.searchInput {
  flex-grow: 1;
  margin-right: 1rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc; // Add this line
}

.enterButton {
  padding: 0.3rem;
  font-size: 0.8rem;
  background-color: #ccc; // Change color to grey
  color: white;
  border: none;
  cursor: pointer;
  position: absolute; // Add this line
  right: 0; // Add this line
  border-radius: 0 4px 4px 0; // Add this line
}

.searchInput, .enterButton {
  box-sizing: border-box; // Add this line
}

.highlight {
  background-color: rgb(255, 255, 214); 
}