.root {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;

  h4 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  min-height: 4rem;
  align-items: center;
  padding-top: 0.5rem;
}

.dataview {
  &>[class~="p-dataview-header"] {
    background: none;
    border: none;
  }

  &>[class~="p-dataview-content"] {
    background: none;
    overflow-y: hidden; // TODO
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -0.75rem;
  margin-top: 0.5rem
}

.grayTag {
  background: var(--gray-500);
}

.sourceName {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
}

.actionIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  color: var(--gray-500);
}

.category {
  background: var(--green-400);
  padding: 5px 7px;
  margin: 0.25rem 0.25rem;
}

.tag {
  background: var(--blue-400);
  padding: 5px 7px;
  margin: 0.25rem 0.25rem;
}

.squareCard {
  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    width: 50%;
    padding: 0.2rem;
  }

}

.cardContents {
  height: 22rem;
  cursor: pointer;
}

.sourceImage {
  height: 3.5rem;
  // width: 3.5rem; // Add a width to make the image a square
  object-fit: contain; // Make the image scale while maintaining its aspect ratio
  // background-color: var(--surface-100);
}

.availableUrls {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  // h4 {
  //   color: var(--text-color-secondary);
  // }

  // a {
  //   color: var(--)
  // }

}

.accessType {
  display: flex;
  width: 100%;
  color: var(--text-color-secondary);
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  transition: width 0.3s ease-in-out; // Add this line
}

.content.withDrawer {
  width: calc(100% - 400px); // Add this line
}


.drawer {
  position: fixed;
  top: 60px; // Adjust this line to the height of your header
  bottom: 0;
  right: 0;
  width: 400px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: white;
}

.drawer.open {
  transform: translateX(0); // Add this line
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
  z-index: 10; // Add this line
}

.drawerDescription {
  font-size: 0.8em;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; // Add this line
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.searchInput {
  flex-grow: 1;
  width: 100%; // Set the width to 100% of the parent container
  margin-right: 3rem;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  resize: none; // Prevent the textarea from being manually resized
}

.enterButton {
  padding: 0.3rem;
  font-size: 1.9rem;
  background-color: #ccc; // Change color to grey
  color: white;
  border: none;
  cursor: pointer;
  position: absolute; // Add this line
  right: 0; // Add this line
  border-radius: 0 4px 4px 0; // Add this line
}

.searchInput, .enterButton {
  box-sizing: border-box; // Add this line
}

.highlight {
  background-color: rgb(255, 255, 214); 
}

// .carousel-item-content {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid #ccc; /* Change this to the color and width you want */
//   padding: 10px; /* Add some padding so the content isn't right against the border */
//   height: 100%; /* Make the div take up the full height of the carousel item */
// }

// .carousel-item-content .carousel-item-image {
//   flex: 0 0 auto !important;
//   max-width: 200px !important; // Adjust this value as needed
//   max-height: 200px !important; // Adjust this value as needed
//   margin: 10px !important;
// }

.logContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logChunk {
  width: 80%;
  border: 1px solid #ccc; /* Add a border */
  padding: 10px; /* Add some padding */
  margin-bottom: 10px; /* Add some space between log chunks */
  background-color: #f9f9f9; /* Add a background color */
  overflow-wrap: break-word;

  p {
    font-size: 0.9em;
    margin-bottom:0.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em; /* Adjust this to make the heading sizes smaller */
  }
  
  img {
    display: block;
    margin: 0 auto; /* Center the image */
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    border: 2px solid #ccc; /* Add an outline */
  }

  &:hover {
    background-color: #e9e9e9; /* Change the background color on hover */
  }  
}