name: sourceman
services:
  sourceman_server:
    build:
      context: .
    working_dir: /sourceman
    depends_on:
      sourceman_rq_redis:
        condition: service_healthy
    command: ["bash", "-c", "poetry run uvicorn sourceman.server:app --host 0.0.0.0 --port 8082 --log-config server_log_config.ini --reload"]
    container_name: sourceman_server
    ports:
    - mode: ingress
      target: 8082
      published: "8082"
      protocol: tcp
    restart: always
    volumes:
    - type: bind
      source: .
      target: /sourceman
    networks:
      sourceman: null
  sourceman_rq_redis:
    container_name: sourceman_rq_redis
    restart: always
    image: redis
    networks:
      sourceman: null
    ports:
    - mode: ingress
      target: 6379
      published: "6380"
      protocol: tcp
    expose:
      - '6379'
    healthcheck:
      test:
      - CMD
      - redis-cli
      - ping
      timeout: 30s
      interval: 5s
      retries: 50
    # extra_hosts:
    # - host.docker.internal:host-gateway
  sourceman_worker:
    environment:
      # - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      # - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      # - AWS_BUCKET=${AWS_BUCKET}
      - CACHE_DIR_NAME=${CACHE_DIR_NAME}
    build:
      context: .
    working_dir: /sourceman
    depends_on:
      sourceman_rq_redis:
        condition: service_healthy
    command: ["bash", "-c", "poetry run rq worker --with-scheduler -c sourceman.rq_settings"]
    container_name: sourceman_worker
    restart: always
    volumes:
    - type: bind
      source: .
      target: /sourceman
    networks:
      sourceman: null
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
  sourceman_router:
    image: caddy
    hostname: sourceman_router.sourceman
    networks:
      - sourceman
    container_name: sourceman_router
    ports:
      - 80:80
    configs:
      - source: sourceman_router_Caddyfile
        target: /etc/caddy/Caddyfile
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: "5"
    profiles:
      - deploy
  sourceman_selenium:
    image: selenium/standalone-chrome
    container_name: sourceman_selenium
    # TODO use docker networking to connect
    networks:
      - sourceman
    ports:
    - 4444:4444
  sourceman_elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    networks:
      - sourceman
    ports:
      - 9200:9200
    container_name: sourceman_elasticsearch
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
    healthcheck:
      test:
        - CMD
        - curl
        - --fail
        - http://localhost:9200/_cluster/health
      timeout: 3s
      interval: 3s
      retries: 20
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - type: volume
        source: sourceman_esdata
        target: /usr/share/elasticsearch/data
        volume: {}
configs:
  sourceman_router_Caddyfile:
    file: Caddyfile
networks:
  sourceman:
    name: sourceman
    driver: bridge
volumes:
  sourceman_esdata:
    name: sourceman_esdata  
    driver: local
