JATA_OPENAI_SCRAPE_ORG=
JATA_OPENAI_SCRAPE_KEY=
ES_PORT=9200
STACK_VERSION=8.13.0
CLUSTER_NAME=sourceman-es-cluster
# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824  # 1GB
KB_MEM_LIMIT=1073741824  # 1GB
LICENSE=basic
KIBANA_PORT=5601
ELASTICSEARCH_URL="sourceman_es.sourceman"
