name: Validate BDF Tool

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate-tool:
    uses: ARPA-H-BDF/bdfkb-schema/.github/workflows/ci-validate.yaml@main
    with:
      python-version: '3.11'
