# build docker image without pushing, to ensure it's valid
name: test-docker-build-validity-on-main

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build Biome Image
        run: docker build .
      -
        name: Build Biome REST API Image
        run: docker build --file rest_api/Dockerfile .
